@{ 
    ViewBag.Title = "ورود به سیستم";
}
@section Head{  
    <link href="~/Content/Login.css" rel="stylesheet" />
}
<form class="Login" method="post">
    <input type="text" placeholder="نام کاربری" name="Username" />
    <input type="password" placeholder="کلمه ی عبور" name="Password" />
    <input type="submit" value="ورود به سیستم" />
</form>