@{ 

    ViewBag.Title = "تغییر کلمه ی عبور";
}
<form method="post">
    <input name="Password" type="password" />
    <input name="Confirm" type="password"/>
    <input type="submit" value="ذخیره" />
</form>